DB_PASSWORD=your_secure_password_here
GOOGLE_SHEET_ID=your_google_sheet_id_here
DISCORD_TOKEN=your_discord_bot_token
CLIENT_ID=your_discord_client_id
SWISH_NUMBER=your_swish_number
PAYPAL_LINK=https://www.paypal.com/paypalme/yourusername
